@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-bp) {
    flex-direction: row;
    height: 40.5rem;
  }

  &__image-mobile {
    height: 18.5rem;
    display: flex;
    @media (min-width: $tablet-bp) {
      display: none;
    }
  }

  &__image-tablet {
    display: none;
    @media (min-width: $tablet-bp) {
      display: flex;
      width: 60%;
    }
    @media (min-width: $desktop-bp) {
      display: none;
    }
  }

  &__image-desktop {
    display: none;
    @media (min-width: $desktop-bp) {
      display: flex;
      width: 100%;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text-section {
    background-color: $primary-black;
    color: $primary-white;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__text {
    padding: 1.5rem 0;
    color: $primary-grey;
  }

  &__button-arrow {
    @include button-arrow;
  }
}
