@use "../../assets/styles/variables" as vars;
@use "../../assets/styles/mixins" as mix;

.footer {
  background-color: vars.$primary-black;
  color: vars.$primary-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 33rem;
  justify-content: space-between;
  padding: 4rem 1.5rem;

  &__logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    fill: #fff;
  }

  &__icon {
    fill: #fff;
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 1.5rem 0;
    align-items: center;
    justify-content: center;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
  }

  &__bottom {
    display: flex;
    height: 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
