@use "../../assets/styles/variables" as vars;
@use "../../assets/styles/mixins" as mix;

.footer {
  background-color: vars.$primary-black;
  color: vars.$primary-white;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 33rem;
    padding: 4rem 1.5rem;
    max-width: 1200px; // content capped
    width: 100%;
    margin: 0 auto; // centers the content

    @media (min-width: vars.$tablet-bp) {
      flex-direction: row;
      padding: 4rem 2.5rem;
      height: 18rem;
    }

    @media (min-width: vars.$desktop-bp) {
      padding: 4rem 0rem;
    }
  }

  &__container {
    @media (min-width: vars.$tablet-bp) {
      height: 100%;
    }

    @media (min-width: vars.$desktop-bp) {
      display: flex;
      gap: 7rem;
      align-items: center;
    }
  }

  &__logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    @media (min-width: vars.$tablet-bp) {
      align-items: flex-start;
      height: 100%;
      justify-content: space-between;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 1.5rem 0;
    align-items: center;
    justify-content: center;

    @media (min-width: vars.$tablet-bp) {
      margin: 0;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    color: vars.$primary-white;

    @media (min-width: vars.$tablet-bp) {
      display: none;
      padding-top: 1rem;
    }

    @media (min-width: vars.$desktop-bp) {
      display: flex;
      height: 100%;
      flex-direction: column;
      padding-top: 0;
      justify-content: space-between;
      align-items: flex-start;
    }

    &--tablet {
      display: none;
      @media (min-width: vars.$tablet-bp) {
        display: flex;
        flex-direction: row;
        padding-top: 2rem;
      }

      @media (min-width: vars.$desktop-bp) {
        display: none;
      }
    }
  }

  &__text {
    font-size: 0.75rem;
    color: vars.$primary-white;
    opacity: 1;
    font-weight: vars.$font-weight-bold;
  }

  &__bottom {
    display: flex;
    height: 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (min-width: vars.$tablet-bp) {
      height: 100%;
      align-items: flex-end;
    }
  }
}
