@use "../../assets/styles/variables" as vars;
@use "../../assets/styles/mixins" as mix;

.home-details {
  &__section {
    display: flex;
    flex-direction: column;

    @media (min-width: vars.$tablet-bp) {
      flex-direction: row;
      height: 37.5rem;
    }
  }

  &__blank-box {
    width: 100%;
    height: 17.85rem;
    background-color: vars.$primary-black;

    @media (min-width: vars.$tablet-bp) {
      width: 35vw;
      height: auto;
    }

    @media (min-width: vars.$desktop-bp) {
      width: 55vw;
      height: auto;
    }

    &--left {
      display: flex;
      @media (min-width: vars.$tablet-bp) {
        display: none;
      }
    }

    &--right {
      display: none;
      @media (min-width: vars.$tablet-bp) {
        display: flex;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: left;
    padding: 4.5rem 1.5rem;
    background-color: vars.$primary-white;
    justify-content: center;

    @media (min-width: vars.$tablet-bp) {
      width: 65vw;
      padding: 4.5rem 3rem;
    }

    @media (min-width: vars.$desktop-bp) {
      width: 45vw;
      padding: 4.5rem 7rem;
    }
  }

  &__button-arrow {
    @include mix.button-arrow;
    width: 12.8rem;
    background-color: vars.$primary-white;
    color: vars.$primary-black;
  }
}
