@use "../../assets/styles/variables" as vars;
@use "../../assets/styles/mixins" as mix;

.photo-card {
  width: 100%;
  height: 23.438rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: vars.$primary-white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem 1.5rem;

  &__line {
    height: 2px;
    opacity: 0.25;
    background-color: vars.$primary-white;
    margin: 1rem 0;
  }

  &__text {
    font-size: 13px;
    opacity: 1;
  }
}
